@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  /* colors */
  --body-bg: #090e17;
  --white: #fff;
  --card-bg: #d9d9d908;
  --text-color: #9ca3af;
  --menu-text-color: #f9fafb;
  --card-text-color: #f3f4f6;
  --card-p-color: #e5e7eb;

  --padding: 2rem;
  --margin: 3em;
  --section-title-font-size: 2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--body-bg);
  color: var(--white);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

.hidden {
  display: none;
}

button {
  border: none;
  cursor: pointer;
}

/* ------------------------------------------------------ */
/* PRELOADER  */

#preloader {
  position: absolute;
  top: 0;
  z-index: 99999999;
  width: 100%;
  height: 100vh;
  background: var(--body-bg);
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
}

#preloader svg circle {
  animation: animation1 2s ease 0s infinite reverse none;
}

#preloader svg #one {
  animation: animation1 2s ease 0s infinite normal none;
}

#preloader svg #two {
  animation: animation1 2s ease 0s infinite reverse none;
}

#preloader svg #three {
  animation: animation1 2s ease 0s infinite normal none;
}

#preloader svg #four {
  animation: animation1 2s ease 0s infinite reverse none;
}

#preloader svg #five {
  animation: animation1 2s ease 0s infinite normal none;
}

#preloader svg #six {
  animation: animation1 2s ease 0s infinite reverse none;
}

#preloader svg #seven {
  animation: animation1 2s ease 0s infinite normal none;
}

#preloader svg #eight {
  animation: animation1 2s ease 0s infinite reverse none;
}

@keyframes animation1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

/* ------------------------------------------------------ */

a {
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s ease;
  color: var(--menu-text-color);
}

/* .menu-item a:hover, */
/* a:hover {
  background: linear-gradient(
    90.72deg,
    rgba(107, 3, 184, 0.9) 21.79%,
    rgba(168, 24, 186, 0.9) 54.77%,
    rgba(226, 43, 187, 0.9) 85.69%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
} */

nav button a:hover {
  color: var(--menu-text-color);
}

.bold {
  color: #a2a8fc;
  font-weight: 500;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999999;
}

.nav-logo {
  width: 112.73px;
}

nav > .menu {
  color: var(--menu-text-color);
  display: none;
  list-style: none;
  -webkit-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -moz-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -ms-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -o-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
}

.menu.active {
  background-color: var(--body-bg);
  padding-top: 20em;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  z-index: 999;
  backdrop-filter: blur(2px);
}

nav a {
  padding-bottom: 7.5px;
}

ul a[activeclassname="selected"],
.menu-item a,
.active {
  position: relative;
  /* background-color: #fff; */
}

.menu-item a::after,
.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0px;
  /* width: 100%; */
  background: linear-gradient(
    90.72deg,
    rgba(107, 3, 184, 0.9) 21.79%,
    rgba(168, 24, 186, 0.9) 54.77%,
    rgba(226, 43, 187, 0.9) 85.69%
  );
}

/* .active::after{
    width: 100% !important;
  } */

.menu-item a:hover::after,
.menu-item a:focus::after {
  width: 100%;
}

/* Nav button */
.menu .btn {
  margin-top: 2rem;
}

.nav-btn {
  background: linear-gradient(
    90.72deg,
    rgba(107, 3, 184, 0.9) 21.79%,
    rgba(168, 24, 186, 0.9) 54.77%,
    rgba(226, 43, 187, 0.9) 85.69%
  );
  border-radius: 40px;
  text-align: center;
  color: var(--menu-text-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.18px;
  padding: 12px 25px;
}

#desktop-btn {
  display: none;
}

/* HAMBURGER ICON */
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 9999;
}

.hamburger input {
  display: flex;
  width: 60px;
  height: 60px;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide input */
  z-index: 1; /* top of the menu */
}

.hamburger span {
  background-color: var(--white);
  width: 30px;
  height: 2px;
  margin-bottom: 8px;
  display: block;
  border-radius: 4px;
  -webkit-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -moz-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -ms-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -o-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
}

#span1 {
  transform-origin: 4px 0px;
}

#span3 {
  transform-origin: bottom right;
  margin-bottom: 0;
}

.hamburger input:checked ~ span {
  background: linear-gradient(
    90.72deg,
    rgba(107, 3, 184, 0.9) 21.79%,
    rgba(168, 24, 186, 0.9) 54.77%,
    rgba(226, 43, 187, 0.9) 85.69%
  );
}

.hamburger input:checked ~ #span1 {
  transform: rotate(45deg) translate(8px);
}

.hamburger input:checked ~ #span2 {
  transform: rotate(495deg) translate(4px);
}

.hamburger input:checked ~ #span3 {
  transform: rotate(45deg);
  opacity: 0;
}

/* ----------------------------------------------- */
/* main section */
section {
  padding-inline: var(--padding);
  width: 100%;
}

/* HERO SECTION */
.hero-section {
  position: relative;
  height: 1110px;
  width: 100%;
  padding-inline: 0;
}

.img-overlay {
  position: absolute;
  top: 917px;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: #090e17;
  opacity: 0.7;
  filter: blur(25px);
  z-index: 99999;
}

.hero-container {
  position: absolute;
  top: 0;
  left: 50%;
  padding-block: 225px 110px;
  transform: translateX(-50%);

  width: 100%;
  text-align: center;
  padding-inline: var(--padding);
}

.hero-container,
.hero-container .left-col,
.pool-card-details .hero-container {
  display: grid;
  place-items: center;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  gap: 2rem;
}

.hero-bg {
  overflow-x: hidden;
  height: 463px;
  width: 100%;
  overflow-x: hidden;
  transform: perspective(300px) translate3d(0px, -66px, 42px)
    scale3d(0.86, 0.75, 1) translateY(816px);
}

.hero-container .hero-title {
  letter-spacing: -2px;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 1.25;
}

.hero-container p {
  color: #9ca3af;
  font-weight: 400;
  line-height: 1.45;
}

.hero-container p,
.hero-btn a {
  font-size: 17px;
}

/* HERO BTN */
.hero-btn {
  background: linear-gradient(
    90.72deg,
    rgba(107, 3, 184, 0.9) 21.79%,
    rgba(168, 24, 186, 0.9) 54.77%,
    rgba(226, 43, 187, 0.9) 85.69%
  );
  border-radius: 40px;
  border: none;
  width: 285px;
  margin-top: 16px;
  transition: all 0.5s ease;
}

.nav-btn:hover,
.hero-btn:hover {
  background: linear-gradient(
    200deg,
    rgba(107, 3, 184, 0.9) 21.79%,
    rgba(168, 24, 186, 0.9) 54.77%,
    rgba(226, 43, 187, 0.9) 85.69%
  );
  color: var(--menu-text-color);
}

.hero-btn a {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 13px;
  padding-block: 13px;
  font-weight: 500;
  line-height: 25px;
}

/* SECTION TITLES */
.title {
  font-weight: 400;
  font-size: var(--section-title-font-size);
  line-height: 44px;
  letter-spacing: -1.68px;
  text-align: center;
}

/* ------------------------------------------------------- */
/* POWERING THE FUTURE OF SMART CONTRACTS */

#about-us {
  padding-bottom: 8rem;
  position: relative;
}

#about-us .title {
  padding-top: 74px;
  padding-bottom: 92px;
  position: relative;
}

#about-us > div {
  display: grid;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: var(--card-bg);
  height: fit-content;
  padding: 32px;
}

.card p {
  font-size: 16px;
  line-height: 26px;
  color: var(--text-color);
}

#about-us .card {
  border: 0.5px solid #374151;
  border-radius: 8px;
  display: flex;
  gap: 60px;
  padding: 32px;
  max-width: 550px;
  /* height: 281px; */
  flex-direction: column;
  justify-content: space-between;
}

.card h3 {
  font-weight: 400;
  font-size: 22px;
  line-height: 64px;
  letter-spacing: -1px;
}

.card-number {
  color: var(--white);
  padding: 8px 24px;
  width: fit-content;
  background: rgba(69, 79, 218, 0.9);
  border-radius: 40px;
}

#about-us .card-3 {
  border: 2px solid #374151;
  border-image: linear-gradient(
    90.72deg,
    rgba(107, 3, 184, 0.9) 21.79%,
    rgba(168, 24, 186, 0.9) 54.77%,
    rgba(226, 43, 187, 0.9) 85.69%
  );
  border-image-slice: 1;
  border-radius: 8px;
  /* background: linear-gradient(#d9d9d908, #d9d9d908),
    linear-gradient(90.2deg, #6b03b8 90%, #a818ba 90%, #e22bbb 90%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: 2px transparent; */

  /* mask: linear-gradient(#d9d9d908, #d9d9d908) padding-box,
    linear-gradient(#d9d9d908, #d9d9d908);
  mask-composite: exclude; */
  /* border: 2px solid transparent; */
}

.connector-line {
  display: none;
  position: absolute;
}

/* ---------------------------------------------------- */
/* OUR MISSION */
.our-mission {
  height: 1260px;
  width: 100%;
  text-align: center;
  position: relative;
  background: #101725;
  z-index: -1;
}

.our-mission .mission-bg {
  transform: perspective(300px) translate3d(0px, -66px, 79px)
    scale3d(0.86, 0.75, 1) translateY(729px);
  width: 100%;
}

.our-mission .container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 132px;
}

.our-mission .container > div,
.our-mission .container > div div {
  display: flex;
  flex-direction: column;
  margin-top: 21px;
}

.our-mission .container > div {
  gap: 30px;
}

.our-mission .container > div div {
  gap: 5px;
}

.our-mission p {
  font-weight: 400;
  line-height: 31px;
  color: var(--text-color);
}

.our-mission .mission-asset {
  margin-top: 6.25em;
  width: 100%;
  margin-inline: auto;
}

#tokenomics {
  background: var(--body-bg);
  z-index: 99999;
  padding-block: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #1f2937;
}

#tokenomics .title {
  margin-bottom: 4rem;
}

#tokenomics > div {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  /* justify-content: center;
  align-items: center; */
  font-size: 18px;
  gap: 42px 20px;
}

#tokenomics .card .figure {
  color: var(--text-color);
}

#tokenomics .card {
  width: 100%;
  padding: 16px;
  text-align: center;
  border: 1.41148px dashed #454fda;
  border-radius: 14.1148px 14.11px 14.11px 14.1148px;
}

/* ------------------------------------------------------- */
/* OUR ROADMAP */
#roadmap {
  padding-block: 9.2rem 5.5rem;
  background: linear-gradient(360deg, #0f1522 0%, rgba(16, 23, 37, 0) 88.29%);
}

#roadmap .title {
  margin-bottom: 2em;
}

#roadmap > div {
  display: grid;
  gap: 20px;
  font-size: 16px;
}

#roadmap .phase-no {
  font-weight: 400;
  line-height: 38px;
  border: 3px solid #454fda;
  /* padding: 14px 10px; */
  width: 63px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 61px;
}

#roadmap li {
  margin-left: 21px;
  line-height: 26px;
  color: var(--text-color);
}

#roadmap p {
  margin-top: 2.5rem;
  color: #a2a8fc;
  font-weight: 500;
}

/* ------------------------------------------------------ */
#how-to-buy {
  padding-block: 4rem;
}

#how-to-buy .title {
  margin-bottom: 42px;
}

#how-to-buy > div {
  display: grid;
  gap: 20px;
}

#how-to-buy .card {
  border: 1px solid #1f2937;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#how-to-buy .card .step-tag {
  color: #a2a8fc;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
}

#how-to-buy .card h1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
}

#how-to-buy .card p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

/* ----------------------------------------- */
/* CONTRACT ADDRESS */
.contract-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  position: relative;
  padding-bottom: 90px;
  /* border-bottom: 1px solid #1f2937; */
}

.contract-address h1 {
  font-size: 1.6em;
  font-weight: 400;
  line-height: 34px;
  word-break: break-all;
  text-align: center;
}

.contract-address button {
  cursor: pointer;
  border: none;
  background: linear-gradient(
    90.72deg,
    rgba(107, 3, 184, 0.9) 21.79%,
    rgba(168, 24, 186, 0.9) 54.77%,
    rgba(226, 43, 187, 0.9) 85.69%
  );
  border-radius: 40px;
  padding: 18px 31px;
  color: var(--white);
  font-weight: 500;
  font-size: 1em;
  line-height: 25px;
  display: flex;
  align-items: center;
  gap: 9px;
}

.message {
  /* padding: 10px 20px;
  border-radius: 8px; */
  position: absolute;
  bottom: 2rem;
  /* right: 2rem; */
  font-weight: 300;
}

/* ------------------------------------------------------- */
/* FOOTER */
footer {
  padding: 70px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 42px;
  border-top: 1px solid #1f2937;
}

.footer-logo {
  width: 170px;
  margin-inline: auto;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* max-width: 300px; */
  margin-inline: auto;
  gap: 24px;
  flex-wrap: wrap;
  list-style: none;
}

footer a {
  color: var(--white);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f9fafb;
}

.social-media-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 91px;
}

.social-media-links img {
  width: 24px;
  transform: none;
}

/* -------------------------------------------------------------- */
/* LAUNCHPAD PAGE */
.launchpad .hero-section {
  height: 1100px;
}

.launchpad .right-col img {
  width: 100%;
}

.launchpad .buy-btns {
  display: flex;
  justify-content: start;
  /* flex-direction: column; */
  align-items: center;
  gap: 15px 30px;
  background: rgba(217, 217, 217, 0.03);
  border: 0.5px solid #374151;
  padding: 52px var(--padding);
  width: 100%;
}

.launchpad .buy-btns img{
  width: 100%;
  max-width: 222px;
}

.launchpad .buy-btns div {
  /* background: url("../src/components/assets/icons/buy-btn-border.svg") no-repeat; */
  /* background-size: contain; */
  /* padding: 11px 0; */
  /* width: 100%; */
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.launchpad .buy-btn {
  position: absolute;
  top: 8px;
  padding: 3px 0;
  margin: auto;
  width: 88%;
  max-width: 190px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: var(--white);
  background: linear-gradient(
    106.23deg,
    rgba(0, 255, 255, 0.1) 6.6%,
    rgba(98, 209, 255, 0.1) 93.4%
  );
}

@media screen and (min-width: 400px) {
  .launchpad .buy-btn{
    top: 9px;
  padding: 6px 0;
  font-size: 16px;
  }
}

.pools .pools-btns {
  display: flex;
  justify-content: start;
  flex-direction: column;
  /* flex-wrap: wrap; */
  padding-block: 47px 74.1px;
}

.pools-btns > div {
  display: flex;
}

.pools-btns a {
  border: 1px solid #454fda;
  background: transparent;
  color: var(--menu-text-color);
  padding: 13px 50px;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
}

.pools-btns a.active,
.pools-btns a:hover {
  background: linear-gradient(
    90.72deg,
    rgba(107, 3, 184, 0.9) 21.79%,
    rgba(168, 24, 186, 0.9) 54.77%,
    rgba(226, 43, 187, 0.9) 85.69%
  );
}

.launchpad .pools .container {
  display: grid;
  gap: 32px;
  width: 100%;
}

.launchpad .pool-container {
  width: 100%;
  position: relative;
}

.box {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: left;
}

.fContent {
  width: 80%;
  margin: auto;
  position: absolute;
  top: 0;
  padding: 46px 4px;
}

.topContent {
  margin-block: 13px 14px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.pool-card-details .hero-container{
  gap: 72px;
}

.pool-card-details .topContent {
  margin-block: 5px 19px;
}

.topContent .buttons {
  width: fit-content;
  display: flex;
  gap: 7.69px;
}

.pool-card-details .topContent .buttons {
  width: 100%;
  justify-content: space-between;
  gap: 0;
}

.pool-card-details .topContent button {
  width: 100%;
  background: transparent;
  border: 0.5px solid #00e5ff;
  border-radius: 0px;
}

.pool-card-details .topContent button.active {
  background: #08262e;
}

.box button {
  text-align: center;
  line-height: 12px;
  background: linear-gradient(
    106.23deg,
    rgba(0, 255, 255, 0.1) 221.75%,
    rgba(98, 209, 255, 0.1) 308.55%
  );
  border: 0.480826px solid #42e8e0;
  border-radius: 30px;
  color: #e5e7eb;
  font-size: 11px;
  letter-spacing: -0.02em;
  padding: 6.73px 12.5px;
}

.midContent {
  width: 95%;
  margin-left: auto;
}

.midContent p {
  font-size: 14px;
  line-height: 1.7em;
}

.pool-box .logo,
.pool-card-details .logo {
  width: 66px;
  height: 46px;
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: center;
  background: rgba(217, 217, 217, 0.03);
  border: 0.961652px solid #374151;
}

.dash {
  border: 1px dashed #00e5ff;
  transform: rotate(-0.17deg);
  margin-block: 32.73px 34.27px;
}

.box h3 {
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #f3f4f6;
  letter-spacing: -0.02em;
}

.box p,
.box a {
  font-weight: 300;
  font-size: 10.5px;
  line-height: 21px;
  color: #d1d5db;
}

.box a {
  color: #1592ca;
  text-decoration: underline;
}

.allocation-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 17.73px;
  width: 100%;
  /* gap: 20px; */
}

.allocation-group div {
  display: flex;
  flex-direction: column;
  gap: 7.87px;
  /* width: 100%; */
}

.allocation-group div p {
  font-size: 10.5782px;
  line-height: 13px;
  color: var(--card-p-color);
}

.allocation-group div h3 {
  font-weight: 500;
  font-size: 15.3864px;
  line-height: 19px;
  color: var(--card-text-color);
}

.allocation-group div h1,
.allocation-group div p,
.percentage-bar h1,
.percentage-bar p,
.buy-presale-btn,
.details h1,
.details h2,
.details p {
  letter-spacing: -0.005em;
}

.percentage-bar {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 29.13px;
}

.percentage-bar > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: column; */
}

.percentage-bar > div h1 {
  color: var(--card-text-color);
}

.percentage-bar p {
  color: var(--card-p-color);
  font-weight: 300;
  font-size: 9px;
  line-height: 11px;
}

.buy-presale-btn {
  background: #08272f;
  border: 1px solid #2166ae;
  outline: none;
  display: flex;
  justify-content: center;
  padding-block: 13.5px;
  align-items: center;
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  margin-top: 10px;
  /* position: absolute;
  bottom: 0; */
}

/* PAGINATION */
.paginationBtns {
  width: 140px;
  /* height: 60px; */
  list-style: none;
  display: flex;
  gap: 16px;
  /* padding: 1rem; */
  justify-content: center;
  align-items: center;
  margin: 100px auto 150px;
  /* overflow: hidden; */
}

/* disabled state */
.paginationDisabled {
  background: transparent;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.paginationBtns a {
  padding: 10px 19px;
  height: 62px;
  width: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 50%;
  border: 1px solid #454fda;
  color: var(--menu-text-color);
  transition: all ease 0.3s;
  cursor: pointer;
}

.nextBtn {
  background: #454fda;
}

.paginationBtns a:hover {
  /* color: #fff; */
  background: #454fda;
}

.paginationActive a {
  background: #454fda;
  /* color: #fff; */
}

/* POOL CARD DETAILS PAGE */
.pool-card-details .hero-section,
.bg {
  height: 1104px;
}

.active-status{
  color: #08C5EA !important;
}

.bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-icons a {
  padding: 12px;
  border-radius: 38.47px;
  border: 0.48px solid #42e8e0;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

.pool-token-information {
  display: flex;
  flex-direction: column;
  gap: 56px;
  width: 100%;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 0.7px solid #374151;
  max-width: 612px;
}

.details h1,
.about-project h1 {
  width: fit-content;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.details h1 {
  padding: 28px 32px;
}

.details .group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* align-items: center; */
}

.details .group div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  /* width: 100%; */
  padding: 28px 32px;
  border: 0.7px solid #374151;
}

.group .access {
  border: none !important;
}

.group .token-address {
  padding: 18px 32px !important;
}

/* .details h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
} */

.details h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.details p {
  text-align: right;
  word-break: break-all;
}

.details p,
.about-project p,
.about-project li {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #d1d5db;
}

.about-project {
  margin-block: 100px 97px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-project ul {
  list-style: none;
}

.about-project p,
.about-project li {
  line-height: 31px;
  color: var(--text-color);
}

@media screen and (min-width: 425px) {
  .fContent {
    top: 36px;
  }

  .topContent {
    margin-block: 20px 21px;
  }

  .pool-box .logo,
  .pool-card-details .logo {
    height: 56px;
  }

  .pool-card-details .topContent {
    margin-block: 2px 19px;
  }

  .pool-card-details .topContent button {
    padding: 10.5px;
  }

  .dash {
    margin-block: 43.73px 49.27px;
  }

  .box button {
    font-size: 13.33px;
  }

  .box-img {
    height: 439.9px;
  }

  .completed-pool-box{
    height: 482.9px;
  }

  .box h3 {
    font-size: 17px;
  }

  .box p,
  .box a {
    font-size: 11.5398px;
  }

  .allocation-group {
    margin-top: 28px;
  }

  .launchpad .buy-presale-btn {
    margin-top: 0;
  }


}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .fContent {
    top: 0;
    padding: 37px 4px;
  }

  .topContent {
    margin-block: 10px;
  }

  .pool-box .logo {
    height: 40px;
    padding-inline: 4px;
    font-size: 10px;
  }

  .box button {
    font-size: 8px;
  }

  .box-img {
    height: 100%;
  }

  .box h3,
  .allocation-group div h3 {
    font-size: 12px;
  }

  .box p,
  .box a,
  .allocation-group div p {
    font-size: 8px;
    line-height: 12px;
  }

  .allocation-group {
    margin-top: 12px;
  }

  .allocation-group div {
    gap: 2px;
  }

  .buy-presale-btn {
    margin-top: 10px;
    font-size: 16px;
    padding-block: 10px;
  }

  .hero-container p,
  .hero-btn a,
  .pool-card-details .hero-container p {
    font-size: 18px;
  }
}

/* ------------------------------------------------------- */
/* TABLET SCREEN SIZES */

@media screen and (min-width: 768px) {
  header {
    --padding: 2.5rem 4rem;
  }

  .nav-btn {
    padding: 18px 35px;
    font-size: 18px;
  }

  section {
    --padding: 6rem;
    /* padding-block: 9.375em; */
  }

  .hero-section {
    height: 1180px;
    margin-block: 0 0 6.5rem;
    padding-inline: 2rem;
  }

  .img-overlay {
    top: 986px;
  }

  .hero-container {
    padding-block: 225px 88px;
    gap: 1.4em;
    justify-content: center;
  }

  .hero-container .hero-title {
    font-size: 50px !important;
    line-height: 80px !important;
  }

  .hero-bg {
    transform: perspective(300px) translate3d(0px, -66px, 62px)
      scale3d(0.86, 0.75, 1) translateY(816px);
  }

  .hero-container p {
    width: 615px;
  }

  .pool-card-details .hero-container .percentage-bar p {
    width: fit-content;
  }

  .pool-card-details .hero-container h3 {
    font-size: 18px;
    line-height: 50px;
  }

  .pool-card-details .hero-container p {
    font-size: 11.5398px;
    max-width: 600px;
  }

  .pool-card-details .hero-container a {
    font-size: 10.5782px;
  }
  .pool-card-details .hero-container p,
  .pool-card-details .box a {
    width: 100%;
    line-height: 20px;
  }

  .pool-card-details .fContent {
    top: 36px;
  }

  .pool-card-details .box .logo {
    height: 56px;
  }

  .pool-card-details .box .logo,
  .pool-card-details .box button {
    font-size: 13.33px;
  }

  /* .pool-card-details .topContent {
    margin-block: 30px 19px;
  } */

  .pool-card-details .allocation-group {
    gap: 10px;
    margin-top: 24px;
  }

  .pool-card-details .allocation-group div {
    gap: 7.87px;
  }

  .pool-card-details .allocation-group div h3 {
    line-height: 20px;
  }

  /* section titles */
  .title {
    --section-title-font-size: 2.5em;
    line-height: 64px;
  }

  #about-us {
    padding-block: 20px 13rem;
  }

  #about-us .title {
    padding-top: 0;
    padding-bottom: 160px;
  }

  #about-us > div {
    grid-template-columns: repeat(2, 1fr);
  }

  #about-us .card {
    height: unset;
  }

  #about-us .card h3 {
    line-height: 32px;
    margin-bottom: 1em;
  }

  /* OUR MISSION */

  .our-mission {
    height: 1029px;
  }

  .our-mission .mission-bg {
    transform: perspective(133px) translate3d(0px, -66px, 37px)
      scale3d(0.86, 0.75, 1) translateY(170px);
    width: 100%;
  }

  .our-mission p {
    font-size: 18px;
  }

  #tokenomics,
  #roadmap,
  #how-to-buy {
    padding-block: 150px 92px;
  }

  #tokenomics > div {
    grid-template-columns: repeat(2, 1fr);
  }

  #tokenomics .card {
    padding: 32px;
  }

  #roadmap .title {
    margin-bottom: 5.625rem;
  }

  #roadmap .phase-no {
    font-size: 30.5455px;
  }

  /* --------------------------------------------------------- */
  /* HOW TO BUY */

  #how-to-buy .card {
    padding-block: 75px;
    gap: 30px;
  }

  #how-to-buy .card .step-tag {
    font-size: 14px;
  }

  #how-to-buy .card h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .contract-address h1 {
    font-size: 2em;
  }

  .contract-address button {
    font-size: 1.125em;
  }

  .message {
    font-size: 1.1rem;
  }

  /* LAUNCHPAD  */
  .launchpad .hero-section {
    height: 1244px;
  }

  .launchpad .buy-btns {
    flex-direction: row;
  }

  .launchpad .buy-btn {
    font-size: 18px;
    top: 15px;
    font-size: 18px;
    padding: 16px 0;
  }

  .launchpad .pools .container {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }

  .pool-box .box {
    top: 50%;
  }

  .pool-box .box .logo-tag-component {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 26.36px auto 30.61px;
  }

  .pool-box .project-details h1 {
    font-size: 17.3097px;
    line-height: 97px;
  }

  .pools .pools-btns{
    flex-direction: row;
  }

  .details h2 {
    /* font-weight: 400; */
    font-size: 18px;
    line-height: 20px;
  }

  .launchpad .buy-btn {
    padding: 10px 0;
    top: 13.5px;
  }
}

/* LAPTOP SCREENS */
@media screen and (min-width: 1000px) {
  header {
    --padding: 2.5rem 7rem;
  }

  section {
    --padding: 6.25rem;
  }

  .hero-container {
    align-items: center;
  }

  .hero-bg {
    transform: perspective(300px) translate3d(0px, -66px, 58px)
      scale3d(0.86, 0.75, 1) translateY(759px);
    height: 552px;
  }

  .img-overlay {
    top: 850px;
    height: 220px;
  }

  .hero-img {
    width: 682px;
    height: 613px;
  }

  #about-us,
  .our-mission .container,
  #tokenomics,
  #roadmap {
    padding-inline: 10em;
  }

  #about-us {
    padding-top: 60px;
  }

  #about-us .title {
    width: 745px;
    margin-inline: auto;
  }

  /* ---------------------------------------------------------- */
  /* OUR MISSION */

  .our-mission .mission-bg {
    transform: perspective(300px) translate3d(0px, -66px, 65px)
      scale3d(0.86, 0.75, 1) translateY(170px);
    width: 100%;
  }

  .our-mission .container {
    width: 946px;
    height: 764px;
  }

  /* OUR ROADMAP */

  #roadmap > div {
    grid-template-columns: repeat(3, 1fr);
  }

  #roadmap .card {
    height: 660px;
  }

  /* HOW TO BUY */

  #how-to-buy > div {
    grid-template-columns: repeat(2, 1fr);
  }

  #how-to-buy .card {
    height: 360px;
  }

  #how-to-buy .card h1 {
    font-size: 24px;
    line-height: 35px;
  }

  .contract-address button {
    font-size: 1.1em;
  }

  .pool-token-information {
    /* grid-template-columns: repeat(2, 1fr); */
    flex-direction: row;
  }


}

@media screen and (min-width: 1300px) {
  nav > .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    list-style: none;
  }

  .menu.active {
    padding-top: 0;
    position: unset;
    width: 100%;
    height: unset;
    display: flex;
    flex-direction: row;
  }

  .nav-btn {
    padding: 18px 35px;
    font-size: 18px;
    margin-top: 0;
  }

  #desktop-btn {
    display: flex;
  }

  #mobile-btn {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .img-overlay {
    top: 934px;
  }

  .hero-container {
    --padding: 334px;
  }

  /* -------------------------------------------------------------- */
  /* LAUNCHPAD PAGE */
  .launchpad .hero-section {
    height: 814px;
  }

  .launchpad .hero-container,
  .pool-card-details .hero-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 81px;
  }

  .pool-card-details .hero-container {
    --padding: 150px;
  }

  .launchpad .hero-container .left-col,
  .pool-card-details .hero-container .left-col {
    place-items: start;
    text-align: left;
  }

  .launchpad .hero-container .right-col img {
    width: 587px;
  }

  #about-us .title {
    /* padding-top: 150px; */
    width: 1000px;
  }

  #about-us > div {
    grid-template-columns: repeat(4, 1fr);
    /* padding-inline: 6.25em; */
  }

  #about-us .card {
    width: 100%;
  }

  #about-us .card h3 {
    line-height: 32px;
  }

  .our-mission .mission-asset {
    width: 946px;
  }

  #roadmap .card {
    height: 520px;
  }

  /* HOW TO BUY */
  #how-to-buy {
    --padding: 0;
  }

  #how-to-buy > div {
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }

  #how-to-buy .card {
    height: 427px;
  }

  #how-to-buy .card.step-one {
    padding-left: 100px;
  }

  #how-to-buy .card.step-two {
    padding-left: 32px;
  }

  #how-to-buy .card.step-three {
    padding-left: 32px;
  }

  #how-to-buy .card.step-four {
    padding-right: 154px;
  }

  .launchpad .pools .container {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 44px;
  }

  .launchpad .hero-section,
  .launchpad .bg,
  .pool-card-details .hero-section,
  .pool-card-details .bg {
    height: 814px;
  }

  .fContent {
    top: 32.7px;
  }

  .topContent {
    margin-block: 20px 30.7px;
  }

  .pool-box .logo,
  .pool-card-details .logo {
    height: 40px;
  }

  .box-img {
    height: 453.9px;
  }

  .completed-pool-box {
    height: 490.5px;
  }

  .allocation-group {
    margin-top: 31.73px;
  }
}

@media screen and (min-width: 1400px) {
  #about-us .card {
    justify-content: end;
  }
  #about-us .card-1 {
    height: 462px;
    padding-top: 103px;
  }

  #about-us .card-3 {
    place-self: start;
  }

  #about-us .card-2,
  #about-us .card-4 {
    place-self: end;
  }

  .connector-line {
    display: unset;
    position: absolute;
  }

  #connector-line-1 {
    left: 193.5px;
    top: 749px;
  }

  #connector-line-2 {
    top: 234px;
    left: 526.5px;
  }

  #connector-line-3 {
    left: 859.5px;
    top: 718px;
  }

  /* .fContent{
    width: 70%;
  } */
}
